*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}
* p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: url('../img/bg3.jpg') no-repeat center center/cover;
    height: 110vh;
    width: 100%;
}
header{
    background-color: rgba(0, 0, 0, 0.495);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    align-items: center;
    height: 93px;
}
#logo{
    margin: 2em;
}
#logo img{
    height: 70px;
    width: 120px;
    border-radius: 35px;
    box-shadow: 2px 3px 5px rgb(58, 58, 58);
    transition: all .3s;
}
#logo img:hover{
    transform: scale(1.05);
}
#navitems{
    display: flex;
}
#navitems li{
    padding-top: 5px;

}
#navitems li a{
    color: white;
    margin: 23px 34px;
    padding: 5px;
    border-radius: 5px;
}
#navitems li a:hover{
    background-color: white;
    color: black;
    
}
.navbar > button{
    margin-left: 15rem;   
}
.contact{
    position: relative;
    top: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact > form{
    background-color: rgb(215, 233, 246);
    margin: 3rem 15rem;
    padding: 20px;
    width: 33rem;
    border-radius: 14px;
    box-shadow: 4px 6px 7px rgb(49 49 49);
}
form input, form textarea{
    border-radius: 16px;
    border: 0;
}
form > input[type='text']{
    height: 30px;
    width: 17em;
    margin: 0px 12px;
    padding: 5px;
}
form > input[type='email']{
    margin: 2rem 12px;
    height: 30px;
    width: 92.5%;
    margin: 17px 12px;
    padding: 5px;
}
form > textarea{
    padding: 15px;
    margin: 0px 12px;
    width: 90%;
}
form > button{
    margin: 10px 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27px;
    width: 65px;
}
.btn > img{
    height: 15px;
    width: 15px;
}

/* UTILITY CLASSES */
.btn{
        padding: 5px;
    color: black;
    background-color: aliceblue;
    border: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out 0s;
}
.h_P{
    font-size: 2rem;
    text-decoration: underline;
    color: white;
}
.btn:hover{
    background-color: rgba(4, 203, 4, 0.774);
    color: black;
    transform: scale(1.08);
    cursor: pointer;
    border: 2px solid black;
}
footer{
    height: 2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60vh;
}
.end{
    height: 15rem;
    position: relative;
    top: 340px;
    border: 2px solid black;
    margin: 0rem 3rem;
    padding: 15px;
    width: 90%;
    background-color: #e4e4e4;
    color: black;
    border-radius: 23px;
    box-shadow: 3px 4px 7px rgb(58 57 57);
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 58%;
    color: black;
}
.box1 > h1{
    color: black;
    font-size: 1.3rem;
}
#icons{
    margin-top: 100px;
}
#icons img{
    margin: 0px 10px;
    height: 30px;
    width: 30px;
}
.box2{
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}
.box2 a{
    color: black;

}
